


body {
    background-color: whitesmoke;
    text-align: center;
}

.price-species {
width: 80%;
background-color: whitesmoke;
margin-left: auto;
margin-right: auto;
}
.prize{
    text-align: right;
    width: 80%;
}
.species{
    text-align: left;
    width: 50%;
}
h1, h2{
   text-align: center; 
   background-color:rgb(227, 250, 205);
   border-radius: 20px;
}
.price-species p{
    display: inline-block;
 } 
 .we{
    border: 5px solid;
 }
 table, th, tr, td{
    border: 2px solid black;
    justify-content: center;
    margin:auto;
    border-collapse: collapse;
 }
th{
    background-color: whitesmoke;
}
td{
    padding: 5px;
}
th, tr, td{
    border-radius: 10px;
    border-color: black;
}

.feedback{
    height: 60px; width: 20d;
    border-radius: 10px;
}
.we{
    border-radius: 10px;
    height: 50px; width: 500px;
}
.me{
    justify-content: center;
}
.row{
    border-radius: 25px;
}
/* .box{
    background: rgb(120, 142, 158);
}
.box:hover{
background: white;
} */
 .box{
    background-color: #e0f6e0;
    position: relative;
    display: inline-block;

    animation-name: my;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction: forwards;
    animation-play-state: running;
 }
 @keyframes my{
   
   0%{
    background-color: rgb(217, 243, 192);
   }
   50%{
    background-color: rgb(227, 250, 205);
   }
   100%{
    background-color: rgb(190, 225, 154);
   }
  
 }
 #col1{
    text-align: center;
 }
 #col2{
    text-align: center;
 }
 .em{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(227, 250, 205);
    font-family: Arial, sans-serif;
}

/* .calculator {
    border: 1px solid #c78080;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #d88a8a;
    box-sizing: border-box; 
}*/
